@model LapTop.Models.Customer

@{
    ViewData["Title"] = "Edit";
    var customer = ViewData["Customer"] as Customer;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
<!-- Card Body -->
<div class="card-body">

    <h1 style="text-align: center; color: coral;">Cập nhật thông tin</h1>
    <hr />

    @using (Html.BeginForm("Edit", "Customer", new { style = "border:1px solid red; " }))
    {
        <table class="table" , style="text-align:center;">
            <tr>
                <td> <b> Mã khách hàng</b></td>
                <td><input type="text" id="maKH" name="maKH" value="@customer.MaKH" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Tên đăng nhập</b></td>
                <td><input type="text" id="tenDN" name="tenDN" value="@customer.TenDN" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Tên khách hàng</b> </td>
                <td>  <input type="text" id="tenKH" name="tenKH" value="@customer.TenKH" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Số điện thoại</b></td>
                <td>  <input type="text" id="soDT" name="soDT" value="@customer.SoDT" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Email</b></td>
                <td> <input type="text" id="email" name="email" value="@customer.Email" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Giới tính</b></td>
                <td> <input type="text" id="gTinh" name="gTinh" value="@customer.GTinh" style="width: 70%;"></td>
            </tr>
        </table>
        <br />
        <div style="text-align: center"> <input type="submit" value="Cập nhật" /></div>
    }

    @*@using (Html.BeginForm("Edit", "Customer", new { style = "border:1px solid black;" }))
    {
        <div> <label for="maKH" style="width: 200px; ">Mã khách hàng:</label> <input type="text" id="maKH" name="maKH" value="@customer.MaKH"> </div>
        <br>
        <div> <label for="tenDN" style="width: 200px; ">Tên đăng nhập:</label> <input type="text" id="tenDN" name="tenDN" value="@customer.TenDN"></div>
        <br>
        <div> <label for="tenKH" style="width: 200px; ">Tên khách hàng:</label> <input type="text" id="tenKH" name="tenKH" value="@customer.TenKH"></div>
        <br>
        <div> <label for="soDT" style="width: 200px; "> Số điện thoại:</label> <input type="text" id="soDT" name="soDT" value="@customer.SoDT"> </div>
        <br>
        <div> <label for="email" style="width: 200px; ">Email:</label><input type="text" id="email" name="email" value="@customer.Email"> </div>
        <br>
        <div> <label for="gTinh" style="width: 200px; ">Giới tính:</label> <input type="text" id="gTinh" name="gTinh" value="@customer.GTinh"> </div>
        <br>
        <div style="text-align: center"> <input type="submit" value="Cập nhật" /></div>
    }*@
    <div>
        <a asp-action="Index">Trở về</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>