@model IEnumerable<LapTop.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Customer</h1>

<p>
    <a href="/Customer/CreateCustomer">Create New Customer</a>
    <form asp-controller="Customer" asp-action="Index" method="get" style="text-align:right;">

        <p>
            <input type="text" name="search" />
            <input type="submit" value="Search" />

        </p>


    </form>
</p>
<table class="table">
    <thead>
        <tr style="text-align: center;">
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Giới tính
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.MaKH
            </td>
            <td>
                @item.TenDN
            </td>
            <td>
                @item.TenKH
            </td>
            <td>
                @item.SoDT
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.GTinh
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { makh = item.MaKH  }) |
                  @Html.ActionLink("Details", "Details", new { makh = item.MaKH }) |
                  @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a href="/Customer/Edit?makh=@item.MaKH">Edit</a> |
                <a href="/Customer/Details?makh=@item.MaKH">Details</a> |
                <a href="/Customer/Delete?makh=@item.MaKH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
